DATABASE_URL=postgresql://postgres:postgres@localhost:5432/eventide
APP_PORT=3000

JWT_ACCESS_TOKEN_SECRET=change_me_access_secret
JWT_REFRESH_TOKEN_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:5173
TYPEORM_SYNCHRONIZE=true
DATABASE_SSL=false
DATABASE_SSL_REJECT_UNAUTHORIZED=false

OSRM_URL=http://localhost:5000
NOMINATIM_URL=https://nominatim.openstreetmap.org
